@use "@/styles/functions" as *;

.weatherSummary {
  &__container {
    width: 100%;
    display: flex;
    flex-direction: column;
    gap: 12px;
    font-size: to-rem(24);
    line-height: 1.5;
  }

  &__header {
    display: flex;
    align-items: center;
    gap: 12px;

    :global(.title--05) {
      &::first-letter {
        text-transform: capitalize;
      }
    }
  }

  &__main {
    display: flex;
    flex-direction: column;
    gap: 8px;
  }
}