@use "@/styles/functions" as *;
@use "@/styles/media" as *;

.weatherSummary {
  &__container {
    width: 100%;
    display: flex;
    flex-direction: column;
    gap: 12px;
    font-size: to-rem(24);
    line-height: 1.5;

    @include media-down("mobile") {
      font-size: to-rem(16);
    }
  }

  &__header {
    display: flex;
    align-items: center;
    gap: 12px;
  }

  &__main {
    display: flex;
    flex-direction: column;
    gap: 8px;
  }
}